@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Indie+Flower|Roboto|Shadows+Into+Light|Ubuntu');
*{
    box-sizing:border-box;
}

html, body{
    margin:0px;
    padding:0px;
    background: #393939;
    overflow:hidden;
    font-family:Ubuntu;
}
#wrapper{
    width:calc(100vw - 300px);
    height:calc(100vh - 30px);
    float:left; 
    overflow:auto;
}
#canvas-handler{
    float:left;
    min-width:100%;
    min-height:100%;
    display: flex;
    justify-content: center;
}
canvas{
    background:#fff;
    align-self: center;
}
#options-menu{
    text-align:center;
    font-size:14px;
    position:fixed;
    right:0px;
    padding:5px;
    width:300px;
    height:calc(100vh - 30px);
    background:#1b1b1b;
    color:#ccc;
    overflow:auto;
}
#options-menu .input-handler{
    width:100%;
    float:left;
    margin:3px 0px;
}

#options-menu .input-handler.w50{
    width:50%;
}
span.tip{
    font-size:12px;
    color:rgba(0,0,0,0.4);
}

input[type=color],
input[type=file]{
    display:none;
}

label[for=color],
label[for=strokeColor]{
    width:100%;
    height:30px;
    line-height:30px;
    float:left;
    position:relative;
    cursor:pointer;
    text-align:left;
    padding:0px 2px;
}


label[for=color]{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
label[for=strokeColor]{
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

label[for=color] span.color,
label[for=strokeColor] span.color{
    width:20px;
    height:20px;
    position:absolute;
    right:5px;
    top:5px;
    border:1px solid #ccc;
}

label[for=strokeColor] span.color{
    background:#000;
}
label[for=color] span.color{
    background:#fff;
}

label#upload,
button#save{
    color:#eee;
    border:none;
    width: 100%;
    height:40px;
    cursor: pointer;
}
button#fitFrameToImage{
    color:#3f97c7;
    background:transparent;
    border:none;
    cursor:pointer;
}
label#upload,
button#save{
    background: #3faec7;
}

button#save{
    width: 100%;
    height:40px;
}
label#upload{
    width: 100%;
    float:left;
    height:30px;
    line-height:30px;
}

label#upload:active,
button#save:active{
    background: #11829b;
}
footer{
    height:30px;
    line-height:30px;
    width:100%;
    text-align:center;
    color:#eee;
    background:#1b1b1b;
    position:fixed;
    bottom:0px;
    left:0;
    font-size:12px;
}
footer a{
    color:#fff;
}

/*textarea styles*/

textarea{
    width:100%;
    min-height:100px;
    resize: vertical;
    font-size:15px;
}

/*input range styles*/

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    background: #3faec7;
    border-radius: 0px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 12px;
    width: 10px;
    border-radius: 0px;
    background: #48b776;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3faec7;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    background: #3faec7;
    border-radius: 0px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 12px;
    width: 10px;
    border-radius: 0px;
    background: #48b776;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #3faec7;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: #3faec7;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 12px;
    width: 10px;
    border-radius: 0px;
    background: #48b776;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3faec7;
}
input[type=range]:focus::-ms-fill-upper {
    background: #3faec7;
}

/*select css*/
select {
    text-align:center;
    padding:3px;
    margin: 0;
    background: #3faec7;
    color:#eee;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}

/*checkbox style*/
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
}
input[type=checkbox] ~ label {
    width:100%;
    float:left;
    height:30px;
    line-height:30px;
    cursor: pointer;
    border: 1px solid #3faec7;
}
input[type=checkbox]:checked ~ label {
    color:#fff;
    background: #3faec7;
}

input[type=checkbox]:checked ~ label .disabled,
input[type=checkbox] ~ label .enabled{
    display:none;
}
input[type=checkbox]:checked ~ label .enabled,
input[type=checkbox] ~ label .disabled{
    display:inline-block;
}